.savedPlaceContainer h2 {
    text-decoration: underline;
}

.savedPlace {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.savedPlaceButton {
    font-size: .8rem;
    padding: 10px;
}

.savedPlaceButton :hover {
    color: black;
}